html {
  font-family: Ubuntu, sans-serif;
  font-weight: 400;
}
body * {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.article {
  padding-top: 80px;
  padding-bottom: 120px;
}
.container {
  max-width: 1250px;
  margin: 0 auto;
  padding: 0 15px;
}

.article-mb-1 {
  margin-bottom: 80px;
}

.title-main {
  font-size: 48px;
  max-width: 596px;
  margin-bottom: 40px;
}
.article-text {
  line-height: 130%;
  color: #535755;
  margin-bottom: 20px;
}
.article-text:last-child{
  margin-bottom: 0;
}
.article-decor-wrapper {
  position: relative;
}

.article-decor-wrapper-1::before {
  top: 150px;
  left: 0;
}
.article-decor-wrapper-2::before {
  right: 0;
  bottom: 136px;
}

.title-second {
  max-width: 596px;
  font-size: 36px;
  margin-top: 0;
  margin-bottom: 40px;
}
.text-mb {
  max-width: 744px;
  margin-bottom: 20px;
}
.article-list {
  padding-left: 16px;
  margin-bottom: 80px;
}
.article-item {
  margin-bottom: 12px;
  font-size: 16px;
  line-height: 130%;
  color: #535755;
}
.article-item::marker{
  color: #3596ed ;
  font-size: 22px;
}
.title-third {
  margin-bottom: 40px;
  font-size: 36px;
}
.article-img-mb {
  margin-bottom: 40px;
}
.article-play-button {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0;
  width: 60px;
  height: 60px;
  background-color: #3596ed;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  -webkit-transition: opacity 0.2s, background-color 0.2s;
  -o-transition: opacity 0.2s, background-color 0.2s;
  transition: opacity 0.2s, background-color 0.2s;
}
.article-play-button:hover {
  background-color: #078bfe; 
}
.article-play-button:not(:disabled):active {
  background-color: #0b579a;
}

@media (width <= 768px) {

.article-decor-wrapper::before {
  display: none;
}

  .article-mb-1 {
    margin-bottom: 60px;
  }

  .article-title-medium {
    font-size: 32px;
  }
}

@media (width <= 576px) {
  .article {
    padding-top: 60px;
    padding-bottom: 80px;
  }

  .article-title-medium {
    font-size: 28px;
  }

  .article-mb-1 {
    margin-bottom: 40px;
  }

  .article-mb {
    margin-bottom: 30px;
  }

  .article-play-button {
    width: 50px;
    height: 50px;

  }

  .article-play-button img {
    width: 18px;
    height: 18px;
  }
}