* {
  box-sizing: border-box;
}

body {
  min-width: 375px;
  margin: 0;
}

.wrapper {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;
}
.header {
  grid-column: 1/12 span;
  background-color: red;
  height: 80px;
}

.aside {
  grid-column: 1/3;
  background-color: yellow;
  height: 600px;
}

.main {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 40px 20px;
  grid-column: 3/10 span;
  background-color: rgb(20, 166, 20);
  min-height: 600px;
}

.container {
  max-width: 1280px;
  padding: 0 15px;
  margin: 0 auto;
  width: 100%;
}

.main .container {
  display: grid;
  grid-template-columns: repeat(4, 200px);
  grid-auto-rows: 250px;
  justify-content: center;
  gap: 10px;
  
}

.article {
  background-color: orangered;
}

.footer {
  grid-column: 1/12 span;  
  background-color: blue;
  height: 253px;
}

@media (width <= 1200px) {
  .aside {
    grid-column: 1/4;
    height: 100%;
  }
  
 .main {
    grid-column: 4/13; 
  }

    .main .container {
    grid-template-columns: repeat(auto-fit, minmax(160px, 280px));
    max-width: 860px;
    
  }
}

@media (width <= 768px){
  .aside {
    display: none;
  }
  .main {
    grid-column: 1/13;
  }
}

