html {
  font-family: sans-serif;
}
body * {
  box-sizing: border-box;
}
img {
  width: 100%;
}
.container {
  display: flex;
  justify-content: space-between;
  margin: 20px auto;
  align-items: center;
  max-width: 1600px;
  border-bottom: 2px solid gray;
  flex-wrap: wrap;
}
.header-logo {
  padding-bottom: 15px;
}
.header-nav {
  display: inline-flex;
  gap: 30px;
}
.header-link {
  font-size: large;
  color: black;
}
.header-tel {
  color: black;
  font-size: large;
  text-decoration: none;
}
